

/* Larger screen rules */
@media screen and (min-width: 1000px){
    .wrapper{
        width: 80%;
        margin: 0 auto;
        max-width: 1300px;
        display: grid;
        grid-template-columns:1fr 1fr 1fr;
    }
    body h1, h2{
        font-size: 40px;
    }
    .wrapper1{
        display: none;
    }
    .wrapper1{
        display: none;
    }
    }
    


