
/* general rules that apply to all devices */

@media screen and (min-width: 680px){
    .wrapper{
        width: 80%;
        margin: 0 auto;
        max-width: 1300px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    body h1, h2{
        font-size: 30px;
    }
}
