
/* general rules that apply to all devices */
html *{ 
    box-sizing: border-box;
}
*::before, *::after{
    box-sizing: border-box;
}
body{
    font-size: 16px; /*1 em or one rem*/
   line-height: 25px;
   
}

   body h1, h2{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: #CBD1C4;
    
}
/* Mobile Rules Now */
@media screen and (max-width: 680px){ 
.wrapper{
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;  
}

body h1, h2{
    font-size: 25px;

}
}
.wrapper div{
    background: #3B4942;
    padding: 1em;
    text-align: center;
}
.wrapper div:nth-child(odd){
    background-color: #7A8370;
}
.wrapper #repetition div:nth-child(even){
    background-color: #7A8370;
}
.wrapper #repetition div{
    background-color: #3B4942;
}

.wrapper div{
    margin: .5rem .25rem;
}
body{
    background-color: #261B28;
}
footer{
    text-align: center;
    color: white;
    background-color: black;
    height: 50px;
    margin-top: 10px;
    margin-bottom: -15px;;
    padding-bottom: 10px;
    padding-top: 5px;
}
/* unvisited link */
a:link {
    color: rgb(230, 146, 21);
  }
  
  /* visited link */
  a:visited {
    color: rgb(252, 175, 59);
  }
  
  /* mouse over link */
  a:hover {
    color: blue;
  }
  
  /* selected link */
  a:active {
    color: rgb(230, 146, 21);
  }
  img{
    max-width: 60%;
}
.wrapper div p{
  color: #CBD1C4;
}
.wrapper #alignment div:nth-child(odd) p{
    color:  #2E3725;
} 
.wrapper #contrast div:nth-child(odd) p{
    color:  #2E3725;
} 
    .wrapper div h1, h2{
        color: #CBD1C4;
      }
      .wrapper #alignment div:nth-child(odd) h1, h2p{
          color:  #2E3725;
      } 
      .wrapper #contrast div:nth-child(odd) h1, h2p{
        color:  #2E3725;
    } 
    