/*Imports are always first*/
@import url(/clnibarger.github.io/css/normalize.css)


/* general rules that apply to all devices */
html *{ 
    box-sizing: border-box;
}
*::before, *::after{
    box-sizing: border-box;
}
body{
    font-size: 18px; /*1 em or one rem*/
    
}
/* Mobile Rules Now */
#wrapper{
    width: 100%;
    background-color: coral;
}
/* Larger screen rules */
@media screen and (min-width: 680px){
    #wrapper{
        width: 80%;
        margin: 0 auto;
        max-width: 1300px;
        background-color: darkcyan;
        font-size: 4vw;
    }
    #navList{
        display: flex;
        margin: 0;
        padding: 0;
        justify-content: space-evenly;
        list-style: none;
    }

}
