   
    /* Media Query for medium + screens */
@media only screen and (min-width: 650px) {
	.navigation {
    display: flex;
  flex-direction: row;
	}
	.navigation li {
		display: inline-block; /* needed because of state in small view */
  }	
  .navigation li a {
		text-align: center;
	}
	.navigation li:first-child {
		display: none;
  }
  #curCond{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    justify-content: space-evenly;
  }
  button {
    padding: 9px 25px;
    margin-top: 60px;
    margin-right: 50px;
    width: 8em;
}

.logo {
    cursor: pointer;
    width: 100px;
    margin-left: 25px;
    margin-top: 20px;
}
nav {
    display: inline-block;
    justify-content: space-around;
    padding: 30px;
    margin-bottom: 30px;
}

.clear {
  background-image: url("/images/clear-assets/clear.png");
 }
 .rain {
  background-image: url("/images/rain-assets/rain1.png");
 }
 .storm {
  background-image: url("/images/storm-assets/storm1.png");
 }
 .snow {
  background-image: url("/images/snow-assets/snow1.png");
 }
 .cloud {
  background-image: url("/images/clouds-assets/cloud1.png");
 }
  
 
  
}